.body{
    margin:auto;
    width:55vw;
    border:2px solid black;
    min-height: 96dvh;    
}
.centro{
    display: flex;
    /* grid-template-rows: 1fr;
    grid-template-columns: auto auto; */
    /* gap: 3vh; */
    justify-content: space-evenly;
    flex-direction: column;
}
.body .boton{
    display: block;
    width:20vw;
    aspect-ratio: 5/2;
    border: 2px solid black;
    justify-self: center;
}
.centrar-texto{
    text-align: center;
}

@media (orientation: portrait) {
    /* .centro{
        flex-direction: column;
    } */
}