nav{
    background-color: rgb(241, 93, 93);
    height: 6vh;
    div{
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: auto auto auto;
        justify-content: start;
        gap: 4vw;
        padding-left: 5%;
        a, a:visited{
            color:white
        }
    }
}