{% extends 'layout.html' %}

{% block content %}
<link rel="stylesheet" href="/static/css/index.css">
<div class="body">
    <h1 class="centrar-texto">Bienvenido</h1>
    
    <div class="centro">

        <!-- <a href="/crearSolicitud">Crear Solicitud</a> -->
        
        <button class="boton btn-dinamico" data-href="/solicitudServicio">Crear Solicitud de Servicio Social</button>
        <button class="boton btn-dinamico" data-href="/solicitudPracticas">Crear Solicitud de Practicas profesionales</button>

        <button class="boton btn-dinamico" data-href="/solicitudes">Ver registros</button>
    </div>
    
</div>


<script src="/static/js/boton_dinamico.js"></script>
{% endblock %}