{% extends 'layoutSolicitudes.html' %}
{% block content %}
<h1 class="centrar-texto mayusculas" id="encabezado">Solicitud de practicas profesionales</h1>

<fieldset class="scroll-reveal">
    <legend class="mayusculas">Datos del Solicitante</legend>
    <section id="Nombre-de-alumno" class="row">
        <p class="mayusculas col-3">Nombre del alumno:</p>
        <div class="campo desplazamiento col-3">
            <label for="apellido-paterno">Apellido Paterno</label>
            <input type="text" name="apellido-paterno" id="Institucion" id="apellido-paterno">
        </div>
        <div class="campo desplazamiento col-3">
            <label for="apellido-materno">Apellido Materno</label>
            <input type="text" name="apellido-materno" id="apellido-materno">
        </div>
        <div class="campo desplazamiento col-3">
            <label for="nombres">Nombre(s)</label>
            <input type="text" name="nombres" id="nombres">
        </div>
    </section>

    <section class="row" >
        <div class="campo desplazamiento col-6">
            <label for="curp">CURP:</label>
            <input type="text" name="curp" id="curp">
        </div>
        <div class="campo desplazamiento col-3">
            <label for="edad" class="mayusculas">Edad:</label>
            <input type="number" name="edad" id="edad">
        </div>
        <div class="campo desplazamiento col-3" id="conenedor-campo-sexo">
            <label for="sexo" class="mayusculas">Sexo</label>
            <select id="sexo" name="sexo" >
                <option value="" disabled selected></option>
                <option>F</option>
                <option>M</option>
            </select>
            <!--
            <p>SEXO:</p>
            <label for="sexo">(F)</label>
            <input type="radio" name="sexo" id="sexo">
            <label for="sexo">(M)</label>
            <input type="radio" name="sexo" id="masculino">
            -->
        </div>
    </section>

    <section class="row">
        <p class="col-12" class="mayusculas">DOMICILIO PARTICULAR:</p>
        <div class="campo desplazamiento col-4">
            <label for="Calle">Calle</label>
            <input type="text" name="Calle" id="calle" >
        </div>
        <div class="campo desplazamiento col-2">
            <label for="Num">Núm</label>
            <input type="text" name="Num" id="numero" >
        </div>
        <div class="campo desplazamiento col-2">
            <label for="Colonia">Colonia</label>
            <input type="text" name="Colonia" id="Colonia" >
        </div>
        <div class="campo desplazamiento col-2">
            <label for="CP">C.P.</label>
            <input type="text" name="CP" id="CP" >
        </div>
        <div class="campo desplazamiento col-2">
            <label for="Telefono">Télefono</label>
            <input type="text" name="Telefono" id="Telefono" >
        </div>
    </section>

    <section class="row">
        <div class="campo desplazamiento col-6">
            <label for="No-Control" class="mayusculas">No. DE CONTROL</label>
            <input type="text" name="No-Control" id="No-Control" >
        </div>
        <div class="campo desplazamiento col-6">
            <label for="Carrera" class="mayusculas">CARRERA</label>
            <input type="text" name="Carrera" id="Carrera" >
        </div>
    </section>

    <section class="row">
        <div class="campo desplazamiento col-5">
            <label for="Correo-Institucional">CORREO INSTITUCIONAL</label>
            <input type="text" name="Correo-Institucional" id="Correo-Institucional" >
        </div>
        <div class="campo desplazamiento col-3">
            <label for="semestre" class="mayusculas">Semestre</label>
            <select name="semestre" id="semestre" >
                <option value="" disabled selected></option>
                <option>4°</option>
                <option>5°</option>
                <option>6°</option>
            </select>
        </div>
        <div class="campo desplazamiento col-2">
            <label for="Grupo" class="mayusculas">Grupo</label>
            <input type="text" name="Grupo" id="Grupo" id="Grupo" class="mayusculas">
        </div>
        <div class="campo desplazamiento col-2">
            <label for="Turno" class="mayusculas">Turno</label>
            <select name="Turno" id="Turno">
                <option value="" disabled selected></option>
                <Option>Matutino</Option>
                <Option>Vespertino</Option>
            </select>
    </section>
</fieldset>

<fieldset class="scroll-reveal">
    <legend class="mayusculas">Datos de la institucion donde se prestará su servicio social</legend>
    <section class="un-renglon">
        <div class="campo row">
                <label for="Institucion" class="mayusculas">Institucion:</label>
                <input class="" type="text" name="Institucion"id="Institucion" >
            </div>
        </div>
        <div class="campo row">
                <label for="Persona-objetivo" class="mayusculas ">a quien se dirige la carta de presentacion: </label>
                <input class="" type="text" name="Persona-objetivo" id="Persona-objetivo" >
            </div>
        </div>
        <div class="campo row">
                <label for="Cargo" class="mayusculas ">Cargo que desempeña:</label>
                <input class="" type="text" name="Cargo" id="Cargo" >
            </div>
        </div>
    </section>

    <section class="row">
        <p class="col-5">DOMICILIO DE LA INSTITUCION:</p>
        <div class="campo desplazamiento col-5">
            <label for="Calle-institucion">Calle</label>
            <input type="text" name="Calle-institucion" id="Calle-Institucion" >
        </div>
        <div class="campo desplazamiento col-2">
            <label for="Num-institucion">Número</label>
            <input type="text" name="Num-institucion" id="Num-Institucion" >
        </div>
        <div class="campo desplazamiento col-4">
            <label for="Colonia-institucion">Colonia</label>
            <input type="text" name="Colonia-institucion" id="Colonia-Institucion" >
        </div>
        <div class="campo desplazamiento col-2">
            <label for="CP-institucion">C.P.</label>
            <input type="text" name="CP-institucion" id="CP-Institucion" >
        </div>
        <div class="campo desplazamiento col-3">
            <label for="Telefono-institucion">Télefono</label>
            <input type="text" name="Telefono-institucion" id="Telefono-Institucion" >
        </div>
        <div class="campo desplazamiento col-3">
            <label for="RFC">R.F.C.</label>
            <input type="text" name="RFC" id="RFC" >
        </div>
    </section>

    <section class="row un-renglon">
        <p class="col-2 texto-derecha campo-solo">Fechas:</p>
        <div class="campo col-5 fecha">
            <label for="Inicio" class="mayusculas">Inicio:</label>
            <input type="date" id="Inicio" name="Inicio">
        </div>
        <div class="campo col-5 fecha">
            <label for="Termino" class="mayusculas">Termino:</label>
            <input type="date" id="Termino" name="Termino">
        </div>
    </section>
</fieldset>

<fieldset class="scroll-reveal">
    <legend class="mayusculas">Sobre el Servicio Social</legend>
    <section class="row un-renglon">
        <div class="campo col-12">
            <label for="Actividades">Actividades a realizar:</label>
            <input type="text" name="Actividades" id="Actividades" id="Institucion" >
        </div>
    </section>
    <section class="row un-renglon">
        <p class="col-4">Recibirá apoyo económico:</p>
        <div class="campo-solo col-2">
            <select name="recibe-apoyo" id="recibe-apoyo" class="w-100">
                <option>NO</option>
                <option>SI</option>
            </select>
        </div>
        <div class="campo col-3">
            <label for="monto">Cantidad</label>
            <input type="number" name="monto" id="monto">
        </div>
        
    </section>
    
    <!-- NO OLVIDAR OBTENER LA FECHA DE ENTREGA; GENERADA EN EL BACK-END -->
</fieldset>

<script src="/static/js/solicitudSS.js"></script>
{% endblock %}
