{% extends 'layoutSolicitudes.html' %}
{% block content %}
<h1 class="centrar-texto mayusculas" id="encabezado">Solicitud de Practicas Profesionales</h1>

<fieldset class="scroll-reveal">
    <legend class="mayusculas">Datos Personales</legend>
    <section id="Nombre-de-alumno" class="row">
      <div class="campo desplazamiento col-4">
          <label for="Nombres">Nombre(s)</label>
          <input value="{{nombres}}" type="text" name="Nombres" id="Nombres" pattern="[a-zA-ZñÑ\s]{1,}" maxlength="100">
      </div>
        <div class="campo desplazamiento col-4">
            <label for="Apellido-paterno">Apellido Paterno</label>
            <input value="{{Apellido_P}}" type="text" name="Apellido-paterno" id="Apellido-paterno" pattern="[a-zA-ZñÑ]{1,}" maxlength="30">
        </div>
        <div class="campo desplazamiento col-4">
            <label for="Apellido-materno">Apellido Materno</label>
            <input value="{{Apellido_M}}" type="text" name="Apellido-materno" id="Apellido-materno" pattern="[a-zA-ZñÑ]{1,}" maxlength="30">
        </div>
    </section>

    <section class="row">
        <p class="col-12" >Domicilio:</p>
        <div class="campo desplazamiento col-4">
            <label for="Calle">Calle</label>
            <input value="{{calle}}" type="text" name="Calle" id="calle" pattern="[a-zA-ZñÑ0-9\s.]{1,}" maxlength="40">
        </div>
        <div class="campo desplazamiento col-1">
            <label for="Num">No.</label>
            <input value="{{num_calle}}" type="number" name="Num" id="numero">
        </div>
        <div class="campo desplazamiento col-3">
            <label for="Colonia">Colonia</label>
            <input value="{{colonia}}" type="text" name="Colonia" id="Colonia" pattern="[a-zA-ZñÑ\s]{1,}" maxlength="30">
        </div>
        <div class="campo desplazamiento col-2">
            <label for="CP">C.P.</label>
            <input value="{{codigo_postal}}" type="number" name="CP" id="CP" >
        </div>
        <div class="campo desplazamiento col-2">
            <label for="Telefono">Télefono Cel</label>
            <input value="{{tel}}" type="text" name="Telefono" id="Telefono" pattern="\d{10,13}" maxlength="13">
        </div>
    </section>
</fieldset>
<fieldset class="scroll-reveal">
    <legend class="mayusculas">Datos Escolares</legend>
    <section class="row">
        <div class="campo desplazamiento col-3">
            <label for="No-Control">Numero de Control</label>
            <input value="{{no_control or 2230106155}}" type="text" name="No-Control" id="No-Control" pattern="[0-9]{14}" maxlength="14">
        </div>
        <div class="campo desplazamiento col-3">
            <label for="Carrera">Especialidad</label>
            <select data-value="{{carrera}}" type="text" name="Carrera" id="Carrera" >
                <option value="" disabled selected></option>
                {% for s in selects.carreras %}
                    <option>{{s.0}}</option>
                {% endfor %}
            </select>
        </div>


        <div class="campo desplazamiento col-2">
            <label for="Semestre">Semestre</label>
            <select data-value="{{semestre}}°" name="Semestre" id="Semestre" >
                <option value="" disabled selected></option>
                <option>5°</option>
                <option>6°</option>
            </select>
        </div>
        <div class="campo desplazamiento col-2">
            <label for="Grupo" class="mayusculas">Grupo</label>
            <input value="{{grupo}}" type="text" name="Grupo" id="Grupo" class="mayusculas">
        </div>
        <div class="campo desplazamiento col-2">
            <label for="Turno" class="mayusculas">Turno</label>
            <select data-value="{{turno}}" name="Turno" id="Turno">
                <option value="" disabled selected></option>
                <Option>Matutino</Option>
                <Option>Vespertino</Option>
            </select>
    </section>

    <section class="row un-renglon">
      <b class="col-12">Periodo de Prácticas Profesionales(tres meses, más un día), acumulando 240 horas:</b>
      <div class="campo col-6 fecha">
          <label for="Inicio" class="mayusculas">Inicio:</label>
          <input value="{{inicio}}" type="date" id="Inicio" name="Inicio">
      </div>
      <div class="campo col-6 fecha">
          <label for="Termino" class="mayusculas">Termino:</label>
          <input value="{{termino}}" type="date" id="Termino" name="Termino">
      </div>
  </section>
</fieldset>

<fieldset class="scroll-reveal">
    <legend class="mayusculas">Datos de la empresa o institución</legend>
    <section class="row">
        <div class="campo desplazamiento col-5">
          <label for="Institucion">Nombre o razon Social</label>
          <input value="{{nombre_inst}}"  type="text" name="Institucion" id="Institucion" pattern="[a-zA-ZñÑ0-9\s.]{1,}" maxlength="100">
        </div>
        <div class="campo desplazamiento col-3">
          <label for="RFC">R.F.C.</label>
          <input value="{{rfc}}" type="text" name="RFC" id="RFC" pattern="[a-zA-ZñÑ0-9]{9,13}" maxlength="13">
        </div>
        <div class="campo desplazamiento col-4">
          <label for="Giro">Giro</label>
          <input value="{{giro}}" type="text" name="Giro"id="Giro" pattern="[a-zA-ZñÑ\s,]+" maxlength="40">
        </div>



        <div class="campo desplazamiento col-7">
            <label for="Persona-objetivo" >Nombre del Represetante Legal</label>
            <input value="{{rep_leg}}" type="text" name="Persona-objetivo" id="Persona-objetivo" pattern="[a-zA-ZñÑ\s.]{1,}" maxlength="100">
        </div>
        <div class="campo desplazamiento col-5">
          <label for="Cargo" >Cargo</label>
          <input value="{{cargo_rep_leg}}" type="text" name="Cargo" id="Cargo" pattern="[a-zA-ZñÑ0-9\s]{1,}" maxlength="50">
        </div>
        


        <p class="col-12">Domicilio:</p>
        <div class="campo desplazamiento col-9">
            <label for="Calle-institucion">Calle</label>
            <input value="{{calle_inst}}" type="text" name="Calle-institucion" id="Calle-Institucion" pattern="[a-zA-ZñÑ0-9\s.]{1,}" maxlength="40">
        </div>
        <div class="campo desplazamiento col-3">
            <label for="Num-institucion">No.</label>
            <input value="{{num_calle_inst}}" type="number" name="Num-institucion" id="Num-Institucion" >
        </div>

        <div class="campo desplazamiento col-5">
            <label for="Colonia-institucion">Colonia/Fracc</label>
            <input value="{{colonia_inst}}" type="text" name="Colonia-institucion" id="Colonia-Institucion" pattern="[a-zA-ZñÑ\s]{1,}" maxlength="30">
        </div>
        <div class="campo desplazamiento col-3">
            <label for="CP-institucion">C.P.</label>
            <input value="{{codigo_postal_inst}}" type="number" name="CP-institucion" id="CP-Institucion" >
        </div>
        <div class="campo desplazamiento col-4">
            <label for="Telefono-institucion">Télefono</label>
            <input value="{{tel_inst}}" type="text" name="Telefono-institucion" id="Telefono-Institucion" pattern="[0-9]{10,13}" maxlength="13">
        </div>        


      <div class="campo desplazamiento col-6">
        <label for="Jefe-inmediato" >Nombre del Jefe Inmediato</label>
        <input value="{{jefe_inmediato}}" type="text" name="Jefe-inmediato" id="Jefe-inmediato" pattern="[a-zA-ZñÑ\s.]{1,}" maxlength="100">
      </div>
      <div class="campo desplazamiento col-2">
        <label for="Tel-j-i">Teléfono</label>
        <input value="{{tel_jefe_inmediato}}" type="text" name="Tel-j-i"id="Tel-j-i" pattern="[0-9]{10,13}" maxlength="13">
      </div>
      <div class="campo desplazamiento col-4">
          <label for="Cargo-j-i" >Cargo</label>
          <input value="{{cargo_jefe_inmediato}}" type="text" name="Cargo-j-i" id="Cargo-j-i" pattern="[a-zA-ZñÑ0-9\s]{1,}" maxlength="50">
      </div>
    </section>
</fieldset>

<fieldset class="scroll-reveal">
    <legend class="mayusculas">Sobre las practicas</legend>

    <section class="row un-renglon">
      <div class="campo col-12">
          <label for="Nombre-proyecto">Nombre del proyecto:</label>
          <input value="{{nombre_proy}}" type="text" name="Nombre-proyecto" id="Nombre-proyecto" pattern="[\w\s]+" maxlength="100">
      </div>
    </section>
    <section class="row un-renglon">
        <div class="campo col-12">
            <label for="Actividades">Actividades a realizar:</label>
            <textarea rows="3" type="text" name="Actividades" id="Actividades" pattern="[\w\s]+" maxlength="150">{{activ}}</textarea>
        </div>
    </section>

    <section class="row un-renglon">
        <div class="campo col-6">
            <p class="col-auto">Recibirá apoyo económico:</p>
            <select data-value="{% if apoyo %}SI{% else %}NO{% endif %}" name="Recibe-apoyo" id="Recibe-apoyo" class="w-100">
                <option>NO</option>
                <option>SI</option>
            </select>
        </div>
        <div class="campo col-3 desaparecer" id="contenedor-monto">
            <label for="Monto">Cantidad:</label>
            <input value="{{monto}}" type="number" name="Monto" id="Monto">
        </div>
        
    </section>
    <section class="row un-renglon espacio">
        <p class="col-auto" class="col-auto">Aguascalientes, Ags;</p>
        <input value="{{entrega}}" type="date" class="col-auto" name="Fecha-entrega" id="Fecha-entrega">
        <!-- <div class="campo col-8">
        </div> -->
    </section>
        
    <!-- NO OLVIDAR OBTENER LA FECHA DE ENTREGA; GENERADA EN EL BACK-END -->
</fieldset>

{% endblock %}
