{% extends 'layout.html' %}

{% block content %}

<div id="controladores">
    <input type="text" placeholder="buscar alumno">
    <label for="">Filtrar por:</label>
    <select name="" id="">
        <option disabled selected>Tipo de Solicitud</option>
        <option>Servicio Social</option>
        <option>Practicas Profesionales</option>
    </select>
    <button>Aplicar</button>
</div>
<div id="contenedor-solicitudes">
    {% for solicitud in solicitudes %}
        <section class="solicitud {{ hacerClase(solicitud.5) }}" id="{{solicitud.0}}">
            <div>{{solicitud}}</div>
            <div class="nombre" >Alumno: {{solicitud.3}}{{solicitud.2}}{{solicitud.1}}</div>
            <div class="no_control" >NO. Control:{{solicitud.4}}</div>
            <div class="tipo_solicitud" >Tipo: {{solicitud.5}}</div>
            <div class="fecha_entrega" >Fecha de Entrega: {{solicitud.6}}</div>
            <button class="btn-dinamico" data-href="/solicitud:{{solicitud.0}}">Ver solicitud</button>
        </section>
    {% endfor %}
</div> 


<script src="/static/js/boton_dinamico.js"></script>
{% endblock %}